{% extends 'base.html.twig' %}

{% block title %}Edit Adherents{% endblock %}

{% block body %}
    <h1>Edit Adherents</h1>

    {{ include('adherents/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adherents_index') }}">back to list</a>

    {{ include('adherents/_delete_form.html.twig') }}
{% endblock %}
