{% extends 'base.html.twig' %}

{% block title %}New Adherents{% endblock %}

{% block body %}
    <h1>Create new Adherents</h1>

    {{ include('adherents/_form.html.twig') }}

    <a href="{{ path('app_adherents_index') }}">back to list</a>
{% endblock %}
