header {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}

.article_header_picture {
  display: flex;
  margin: auto;
  width: 1120px;
  height: 504px;
  border: solid 1px black; /* a retirer l'hors de l'insértion de l'image */
}

main {
  width: 80%;
  margin: auto;
}

.article_text_section {
  width: 74%;
  margin: auto;
}

.article_categorie {
  font: normal normal 300 15px/25px Fira Sans;
  margin-top: 50px;
}

.article_title {
  font: normal normal bold 66px/79px Fira Sans;
  margin: 0;
  margin-bottom: 50px;
}

.article_subtitle {
  font: normal normal bold 30px/25px Fira Sans;
  margin-bottom: 35px;
}

.article_text {
  font: normal normal 300 15px/25px Fira Sans;
}

.article_first_paragraph {
  margin-bottom: 100px;
}

.article_picture {
  display: flex;
  margin: auto;
  width: 1120px;
  height: 504px;
  border: solid 1px black; /* a retirer l'hors de l'insértion de l'image */
  margin-top: 100px;
}

.news_cards_section {
  margin-top: 200px;
}

.news_cards_container {
  gap: 50px;
}

.news_card_title {
  font: normal normal bold 40px/79px Fira Sans;
  margin-left: 20px;
}
